.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.9rem;
}
.text-md {
  font-size: 1.05rem;
}
.text-lg {
  font-size: 1.3rem;
}
.text-xl {
  font-size: 1.6rem;
}
.text-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
