*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: iranSans;
  src: url("./assets/iran-sans.ttf");
}
html,
body {
  height: 100%;
}
body {
  font-family: iranSans;
  font-size: 16px;
  direction: rtl;
}
input {
  font-family: iranSans;
}
input::placeholder {
  font-size: 1rem;
  color: rgb(150, 150, 150);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.left-0 {
  left: 0%;
}
.left-100 {
  left: 100%;
}
.right-0 {
  right: 0%;
}
.right-100 {
  right: 100%;
}
.top-0 {
  top: 0%;
}
.top-100 {
  top: 100%;
}
.bottom-0 {
  bottom: 0%;
}
.bottom-100 {
  bottom: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}

.primary {
  background-color: #0284c7;
}
.secondary {
  background-color: #4f46e5;
}
.error {
  background-color: #dc2626;
}
.slate-light2 {
  background-color: #e2e8f0;
}
.slate-light1 {
  background-color: #94a3b8;
}
.slate {
  background-color: #64748b;
}
.slate-dark1 {
  background-color: #475569;
}
.slate-dark2 {
  background-color: #1e293b;
}
.white {
  background-color: white;
}
.transparent--text {
  background-color: transparent;
}
.primary--text {
  color: #0284c7;
}
.secondary--text {
  color: #4f46e5;
}
.error--text {
  color: #dc2626;
}

.slate-light2--text {
  color: #e2e8f0;
}
.slate-light1--text {
  color: #94a3b8;
}
.slate--text {
  color: #64748b;
}
.slate-dark1--text {
  color: #475569;
}
.slate-dark2--text {
  color: #1e293b;
}

.white--text {
  color: white;
}
.transparent--text {
  color: transparent;
}

.text-xs {
  font-size: 0.8rem;
}
.text-sm {
  font-size: 1rem;
}
.text-md {
  font-size: 1.2rem;
}
.text-lg {
  font-size: 1.5rem;
}
.text-xl {
  font-size: 2rem;
}

.text-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}

.rounded-sm {
  border-radius: 0.25rem;
}
.rounded {
  border-radius: 0.5rem;
}
.rounded-lg {
  border-radius: 1rem;
}
.border-none {
  border: none;
}
.outline-none {
  outline: none;
}

.p-xs {
  padding: 0.4rem;
}
.p-sm {
  padding: 0.6rem;
}
.p-md {
  padding: 0.8rem;
}
.p-lg {
  padding: 1.2rem;
}
.p-xl {
  padding: 1.8rem;
}

.pt-xs {
  padding-top: 0.4rem;
}
.pt-sm {
  padding-top: 0.6rem;
}
.pt-md {
  padding-top: 0.8rem;
}
.pt-lg {
  padding-top: 1.2rem;
}
.pt-xl {
  padding-top: 1.8rem;
}
.px-xs {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}
.px-sm {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}
.px-md {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.px-lg {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.px-xl {
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}
.py-xs {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.py-sm {
  padding: 0.6rem 0px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.py-md {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.py-lg {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.py-xl {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
.m-xs {
  margin: 0.4rem;
}
.m-sm {
  margin: 0.6rem;
}
.m-md {
  margin: 0.8rem;
}
.m-lg {
  margin: 1.2rem;
}
.m-xl {
  margin: 1.8rem;
}
.mt-xs {
  margin-top: 0.4rem;
}
.mt-sm {
  margin-top: 0.6rem;
}
.mt-md {
  margin-top: 0.8rem;
}
.mt-lg {
  margin-top: 1.2rem;
}
.mt-xl {
  margin-top: 1.8rem;
}
.mx-xs {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.mx-sm {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.mx-md {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.mx-lg {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.mx-xl {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}
.my-xs {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.my-sm {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.my-md {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.my-lg {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.my-xl {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.wrap {
  flex-wrap: wrap;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.transition-linear {
  transition: all 0.1s linear;
}
